@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* ************************** */
    /*           Color            */
    /* ************************** */
    --background: #ffffff;
    --foreground: #262626;
    --primary: #c4069a;
    --primary-foreground: #f8d7f1;
    --secondary: #c0a509;
    --secondary-foreground: #fcf7dd;
    --accent: #0677e9;
    --accent-foreground: #d1e6fa;

    --color-text1: rgba(0, 0, 0, 0.87); /* 기본 텍스트 색상 */
    --color-text2: rgba(180, 180, 180, 0.87); /* 서브 텍스트 색상 */
    --color-text3: #000000; /* 강조 텍스트 색상 */
    --color-gray1: rgba(120, 120, 120, 0.87);
    --color-gray2: rgba(200, 200, 200, 0.87);

    --success: #ccf5d1;
    --success-foreground: #132415;

    --danger: #fcb2b2;
    --danger-foreground: #1d1010;

    --warning: #fef3c7;
    --warning-foreground: #2b2718;

    --info: #e0f2fe;
    --info-foreground: #111a20;

    /* ************************** */
    /*           Theme            */
    /* ************************** */

    /* --font-family-base: -apple-system, BlinkMacSystemFont, "Noto Sans KR", "Malgun Gothic", sans-serif; */
    /* --font-family-base-eng: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
    /* --font-family-serif: "Noto Serif KR", serif; */

    --font-family-base: 'Noto Sans KR Variable', sans-serif;
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
      'Liberation Mono', 'Courier New';
    --font-family-number: Geneva, Tahoma;
    --font-family-mobile: 'Apple SD Gothic Neo', 'Malgun Gothic', '맑은 고딕',
      sans-serif;

    --font-size-base: 1rem;
    --font-size-2xs: calc(var(--font-size-base) * 0.65);
    --font-size-xs: calc(var(--font-size-base) * 0.775);
    --font-size-sm: calc(var(--font-size-base) * 0.97);
    --font-size-lg: calc(
      var(--font-size-base) * 1.15
    ); /* 본문(Markdown)의 기본 글씨크기 */
    --font-size-xl: calc(var(--font-size-base) * 1.5);
    --font-size-2xl: calc(var(--font-size-base) * 1.75);

    --h1: calc(var(--font-size-base) * 2.5);
    --h2: calc(var(--font-size-base) * 2);
    --h3: calc(var(--font-size-base) * 1.7);
    --h4: calc(var(--font-size-base) * 1.4);
    --h5: calc(var(--font-size-base) * 1.25);
    --h6: calc(var(--font-size-base) * 1.1);

    --font-weight-lighter: 100;
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-bold: 600;
    --font-weight-bolder: 900;

    --font-weight-serif-light: 300;
    --font-weight-serif-normal: 400;
    --font-weight-serif-bold: 600;
    --font-weight-serif-bolder: 900;

    /* ************************** */
    /*       Basic Elements       */
    /* ************************** */
    --header-height: 48px;
    --border: #e2e8f0;
    --input: #e2e8f0;
    --ring: #020817;
    --radius: 0.5rem;

    /* ************************** */
    /*         Components         */
    /* ************************** */
    --card: #ffffff;
    --card-foreground: #020817;

    --code: #efefef;
    --code-foreground: #000;

    --blockquote: #efefef;
    --blockquote-foreground: #000;

    --muted: #f1f5f9;
    --muted-foreground: #64748b;
    --popover: #ffffff;
    --popover-foreground: #020817;

    --table: #ffffff;
    --table-th: #f5f5f5;
    --table-foreground: #020817;
    --box-shadow: 0.05rem 0.05rem 0.5rem #999999;
  }

  .dark {
    /* ************************** */
    /*           Color            */
    /* ************************** */

    --background: #262626;
    --foreground: #dddddd;
    --primary: #e5add9;
    --primary-foreground: #c4069a;
    --secondary: #fcf7dd;
    --secondary-foreground: #c0a509;
    --accent: #d1e6fa;
    --accent-foreground: #0677e9;

    --color-text1: #909090; /* 기본 텍스트 색상 */
    --color-text2: #eeeeee; /* 서브 텍스트 색상 */
    --color-text3: #ffffff; /* 강조 텍스트 색상 */
    --color-gray1: #d3d3d3;
    --color-gray2: #a3a3a3;

    --success: #132415;
    --success-foreground: #ccf5d1;

    --danger: #1d1010;
    --danger-foreground: #fcb2b2;

    --warning: #2b2718;
    --warning-foreground: #fef3c7;

    --info: #111a20;
    --info-foreground: #e0f2fe;

    /* ************************** */
    /*       Basic Elements       */
    /* ************************** */
    --border: #3a3a3a;
    --input: #e2e8f0;
    --ring: #020817;

    /* ************************** */
    /*         Components         */
    /* ************************** */
    --card: #020817;
    --card-foreground: #f5f5f5;

    --code: #444444;
    --code-foreground: #f2f2f2;

    --blockquote: #444444;
    --blockquote-foreground: #f2f2f2;

    --muted: #64748b;
    --muted-foreground: #f1f5f9;
    --popover: #020817;
    --popover-foreground: #ffffff;

    --table: #020817;
    --table-th: #222a3e;
    --table-foreground: #f5f5f5;
    --box-shadow: 0.05rem 0.05rem 0.5rem #999999;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

// 모바일일 경우
@media (max-width: 767px) {
  :root {
    --h1: calc(var(--font-size-base) * 1.6);
    --h2: calc(var(--font-size-base) * 1.4);
    --h3: calc(var(--font-size-base) * 1.2);
    --h4: calc(var(--font-size-base) * 1);
    --h5: calc(var(--font-size-base) * 0.8);
    --h6: calc(var(--font-size-base) * 0.5);

    --font-size-2xs: calc(var(--font-size-base) * 0.55);
    --font-size-xs: calc(var(--font-size-base) * 0.65);
    --font-size-sm: calc(var(--font-size-base) * 0.95);
    --font-size-lg: calc(
      var(--font-size-base) * 1
    ); /* 본문(Markdown)의 기본 글씨크기 */
    --font-size-xl: calc(var(--font-size-base) * 1.2);
    --font-size-2xl: calc(var(--font-size-base) * 1.5);
  }
}
